@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --card: 0px 4px 27.5px 0px rgba(0, 0, 0, 0.16);
  --colours-semantic-spacing-4: 4px;
  --colours-semantic-spacing-8: 8px;
  --desktop-b1-16px-font-family: "Manrope", Helvetica;
  --desktop-b1-16px-font-size: 16px;
  --desktop-b1-16px-font-style: normal;
  --desktop-b1-16px-font-weight: 700;
  --desktop-b1-16px-letter-spacing: 0px;
  --desktop-b1-16px-line-height: 28px;
  --desktop-b2-14px-font-family: "Manrope", Helvetica;
  --desktop-b2-14px-font-size: 14px;
  --desktop-b2-14px-font-style: normal;
  --desktop-b2-14px-font-weight: 700;
  --desktop-b2-14px-letter-spacing: -0.1680000066757202px;
  --desktop-b2-14px-line-height: 20px;
  --desktop-h1-56px-font-family: "Manrope", Helvetica;
  --desktop-h1-56px-font-size: 56px;
  --desktop-h1-56px-font-style: normal;
  --desktop-h1-56px-font-weight: 600;
  --desktop-h1-56px-letter-spacing: -0.6720000267028808px;
  --desktop-h1-56px-line-height: 70px;
  --desktop-h2-44px-font-family: "Manrope", Helvetica;
  --desktop-h2-44px-font-size: 44px;
  --desktop-h2-44px-font-style: normal;
  --desktop-h2-44px-font-weight: 600;
  --desktop-h2-44px-letter-spacing: -0.528000020980835px;
  --desktop-h2-44px-line-height: 68px;
  --desktop-h3-36px-font-family: "Manrope", Helvetica;
  --desktop-h3-36px-font-size: 36px;
  --desktop-h3-36px-font-style: normal;
  --desktop-h3-36px-font-weight: 600;
  --desktop-h3-36px-letter-spacing: -0.4320000171661377px;
  --desktop-h3-36px-line-height: 50px;
  --desktop-h4-20px-font-family: "Manrope", Helvetica;
  --desktop-h4-20px-font-size: 20px;
  --desktop-h4-20px-font-style: normal;
  --desktop-h4-20px-font-weight: 800;
  --desktop-h4-20px-letter-spacing: -0.24000000953674316px;
  --desktop-h4-20px-line-height: 34.79999923706055px;
  --desktop-l1-18px-font-family: "Manrope", Helvetica;
  --desktop-l1-18px-font-size: 18px;
  --desktop-l1-18px-font-style: normal;
  --desktop-l1-18px-font-weight: 600;
  --desktop-l1-18px-letter-spacing: -0.21600000858306884px;
  --desktop-l1-18px-line-height: 28px;
  --desktop-l2-16px-font-family: "Manrope", Helvetica;
  --desktop-l2-16px-font-size: 16px;
  --desktop-l2-16px-font-style: normal;
  --desktop-l2-16px-font-weight: 600;
  --desktop-l2-16px-letter-spacing: 0px;
  --desktop-l2-16px-line-height: 21px;
  --desktop-p1-22px-font-family: "Manrope", Helvetica;
  --desktop-p1-22px-font-size: 22px;
  --desktop-p1-22px-font-style: normal;
  --desktop-p1-22px-font-weight: 500;
  --desktop-p1-22px-letter-spacing: -0.2640000104904175px;
  --desktop-p1-22px-line-height: 34px;
  --desktop-p2-18px-font-family: "Manrope", Helvetica;
  --desktop-p2-18px-font-size: 18px;
  --desktop-p2-18px-font-style: normal;
  --desktop-p2-18px-font-weight: 500;
  --desktop-p2-18px-letter-spacing: -0.21600000858306884px;
  --desktop-p2-18px-line-height: 33.599998474121094px;
  --desktop-p3-14px-font-family: "Manrope", Helvetica;
  --desktop-p3-14px-font-size: 14px;
  --desktop-p3-14px-font-style: normal;
  --desktop-p3-14px-font-weight: 400;
  --desktop-p3-14px-letter-spacing: -0.1680000066757202px;
  --desktop-p3-14px-line-height: 28px;
  --desktop-p4-14px-SB-font-family: "Manrope", Helvetica;
  --desktop-p4-14px-SB-font-size: 16px;
  --desktop-p4-14px-SB-font-style: normal;
  --desktop-p4-14px-SB-font-weight: 600;
  --desktop-p4-14px-SB-letter-spacing: -0.19200000762939454px;
  --desktop-p4-14px-SB-line-height: 28px;
  --desktop-p5-12-px-font-family: "Manrope", Helvetica;
  --desktop-p5-12-px-font-size: 12px;
  --desktop-p5-12-px-font-style: normal;
  --desktop-p5-12-px-font-weight: 600;
  --desktop-p5-12-px-letter-spacing: -0.1440000057220459px;
  --desktop-p5-12-px-line-height: 20px;
  --shaddow-button: 0px 4px 25.200000762939453px 0px rgba(0, 0, 0, 0.14);
  --shadow-raised: 0px 4px 8px -2px rgba(0, 0, 0, 0.04), 0px 2px 4px -2px
    rgba(0, 0, 0, 0.08);
  --spacing-spacing-0: 0px;
  --spacing-spacing-12: 12px;
  --spacing-spacing-24: 24px;
  --spacing-spacing-4-duplicate: 4px;
  --tokensaccentcolor: rgba(219, 43, 25, 1);
  --variable-collection-background-dark: rgba(17, 29, 39, 1);
  --variable-collection-background-light-gray: rgba(248, 248, 248, 1);
  --variable-collection-background-white: rgba(255, 255, 255, 1);
  --variable-collection-coolfillment-highlight-typo: rgba(0, 138, 157, 1);
  --variable-collection-highlighted-typo: rgba(226, 7, 20, 1);
  --variable-collection-logos-color: rgba(183, 186, 199, 1);
  --variable-collection-number: 0px;
  --variable-collection-primary-button-red: rgba(226, 7, 20, 1);
  --variable-collection-primary-typo: rgba(17, 29, 39, 1);
  --variable-collection-secondary-red: rgba(249, 230, 229, 1);
  --variable-collection-secondary-typo: rgba(71, 103, 136, 1);
  --variable-collection-stroke: rgba(212, 224, 237, 1);
  --variable-collection-typo-on-dark-background: rgba(137, 148, 158, 1);
  --variable-collection-typo-white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
